{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="col-sm-4">
    <div class="single category">
        <h3 class="side-title">Categories</h3>
        <ul>
            {% for post in posts %}
                {% for category in post.categories.all %}
                <li class="lis"><a href="{% url 'blog_category' category.name %}">
                    {{ category.name }}
                </a>
                </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="col-md-8 offset-md-2">
    <h1>DBlog</h1>
    Search: <input type="text" id="search" />
    <hr>
    {% for post in posts %}
    <div data-title="{{post.title}}" data-category class="post">
        <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <p>{{ post.body | slice:":400" }}...</p>
    </div>
    {% endfor %}

    <script>
        document.querySelector('#search').addEventListener('change', (event) => {
            const searchText = event.target.value
            const posts = document.querySelectorAll('.post')

            document.getElementById("empty-to-hide").style.visibility = "visible";

            posts.forEach((post) => {
                if (post.dataset.title.toUpperCase().includes(searchText.toUpperCase())) {
                    post.style.display = 'block'
                } else {
                    post.style.display = 'none'
                }
            })
        })

        document.queryS

    </script>
<div id="empty-to-hide" style="visibility: hidden !important; ">
<div id="empty-div">
</div>
<div id="empty-div">
</div>
</div>
</div>


{% endblock %}