.body {
    background-color: #252530 !important;
    color:rgb(87, 144, 165);
    font-family: lato, sans-serif;
    font-size: 18px;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}


.social-links ul,
li {
    list-style-type: none;
    display: inline-block;
}

.social {
    width: 20px;
    height: 20px;
}


.links {
    flex: 1;
}

.button {
    position: relative;
    display: inline-block;
    padding: 1em;
    margin: .2em;
    background: rgba(68, 71, 90, .3);
    color: #f8f8f2;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden;
}