{% extends "base.html" %}
{% load static %}

{% block page_content %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Daniel Skrobot</title>
    <link href="{% static '/css/bootstrap.css'  %}" rel="stylesheet" type="text/css">

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'img/dynio.jpg' %}">
                    <hr>
                    <h4>Hi I'm Daniel!</h4>
                    <p>I love coding, and just coding... and C++ is my life.</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>About Me</h4>
                    <hr>
                    <p>I am a student at the Kielce University of technology, studying computer science. I am passionate
                    about programming, and I am currently focusing on improving my skills concerning C++ programming
                    language. In addition my goal is to develop towards creating computer games and artificial
                    intelligence.</p>

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <h5>My Experience as a Developer</h5>
                    <hr>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
        <br>

        <br>
    </div>


    <div class="proficiencies">
        <h2>Proficiencies</h2>
    
        <div class="proficiencies__row">
            <div class="proficiencies__row__label">
                Languages
            </div>
            <div class="proficiencies__row__tags tags tags--primary-1">
                <span class="tag">C++</span>
                <span class="tag">Python</span>
            </div>
        </div>
        <div class="proficiencies__row">
            <div class="proficiencies__row__label">
                API
            </div>
            <div class="proficiencies__row__tags tags tags--primary-2">
                <span class="tag">Vulkan</span>
                <span class="tag">OpenGL</span>
            </div>
        </div>
        <div class="proficiencies__row">
            <div class="proficiencies__row__label">
                Game Engines
            </div>
            <div class="proficiencies__row__tags tags tags--primary-3">
                <span class="tag">Godot</span>
            </div>
        </div>
        <div class="proficiencies__row">
            <div class="proficiencies__row__label">
                Editors
            </div>
            <div class="proficiencies__row__tags tags tags--primary-5">
                <span class="tag">VS Code</span>
                <span class="tag">Visual Studio</span>
                <span class="tag">JetBrains IDEs</span>
            </div>
        </div>
        <div class="proficiencies__row">
            <div class="proficiencies__row__label">
                Tools &amp; Services
            </div>
            <div class="proficiencies__row__tags tags tags--primary-7">
                <span class="tag">Git</span>
            </div>
        </div>
    </div>

    <div class="links_title"><h2>Links</h2></div>
        <div class="links">
        
            <a href="https://github.com/DYNIO1999" rel="noopener noreferrer" target="_blank" class="button">
                <img src="{% static 'img/git.png' %}"> GitHub
                <span class="button__hover" style="opacity: 0; left: -19.6px; top: -35.75px;"></span></a><a
            href="https://www.linkedin.com/in/daniel-skrobot-8b49ab231/" rel="noopener noreferrer" target="_blank" class="button">
                <img src="{% static 'img/linkedin.png' %}"> LinkedIn
                <span class="button__hover" style="opacity: 0; left: -260.6px; top: -21.75px;"></span></a>
            <script>
                document.addEventListener('DOMContentLoaded', event => {
                    document.addEventListener('mousemove', event => {
                        if (event.target.classList == null || !event.target.classList.contains('button')) return;

                        const rect = event.target.getBoundingClientRect();
                        const mouseX = event.clientX - rect.left;
                        const mouseY = event.clientY - rect.top;

                        const hoverSpan = event.target.querySelector('.button__hover');
                        hoverSpan.style.opacity = '1.0';
                        hoverSpan.style.left = `${mouseX - (hoverSpan.offsetWidth / 2)}px`;
                        hoverSpan.style.top = `${mouseY - (hoverSpan.offsetHeight / 2)}px`;
                    });

                    const buttons = document.getElementsByClassName('button');
                    const hoverSpan = document.createElement('span');
                    hoverSpan.classList.add('button__hover');

                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].appendChild(hoverSpan.cloneNode());
                        buttons[i].addEventListener('mouseleave', event => {
                            event.target.style.background = null;

                            const hoverSpan = event.target.querySelector('.button__hover');
                            hoverSpan.style.opacity = '0.0';
                        });
                    }
                });
            </script>
        </div>
</body>
</html>
{% endblock %}